<div class="success-box">
  <p>Your request was processed.</p>
  <p>Your wallet will be available shortly at: 
    <a href="{{ link }}" class="wallet-link">{{ link }}</a>
  </p>
  <p>Thank you!</p>
</div>