<div class="form-box pure-g">
  <div class="pure-u-1 pure-u-lg-1-2 logo">
    <div>
      <img src="images/logo.png"/>
      <div class="slogan">
        Create your own digital asset wallet
      </div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2 input-form">
    <form action="/wallet" method="post" enctype="multipart/form-data" class="pure-form pure-form-stacked">
        <fieldset>
            <div class="pure-control-group field">
                <label for="walletName">Wallet name<span class="req">*</span> <small>will be used in url http://&lt;name&gt;.coluwalletservice.com/</small></label>
                <input id="walletName" name="walletName" type="text" 
                  placeholder="Wallet Name" pattern="[A-Za-z][A-Za-z0-9-]*[A-Za-z0-9]" required>
            </div>

            <div class="pure-control-group field">
                <label for="assetId">Asset ID<span class="req">*</span></label>
                <input id="assetId" name="assetId" type="text"
                  placeholder="Asset ID" pattern="[A-Za-z0-9]+" required>
            </div>

            <div class="pure-control-group field">
                <label for="assetName">Asset name<span class="req">*</span></label>
                <input id="assetName" name="assetName" type="text" placeholder="Asset Name" required>
            </div>
            
            <div class="pure-control-group field">
                <label for="symbol">Unit Symbol <small>e.g. <strong>$</strong> (optional, defaults to "unit")</small></label>
                <input id="symbol" name="symbol" type="text" placeholder="Symbol">
            </div>

            <div class="pure-control-group field">
                <label for="pluralSymbol">Unit symbol in plural form <small>(optional)</small></label>
                <input id="pluralSymbol" name="pluralSymbol" type="text" placeholder="Symbol in plural form">
            </div>
            
            <div class="pure-control-group field">
                <label for="coluApiKey">Colu API key <small>(optional)</small></label>
                <input id="coluApiKey" name="coluApiKey" type="text" placeholder="Colu API key">
            </div>
            
            <div class="pure-g pure-control-group field">
                <div class="pure-u-1-3">
                  <label>Main color</label>
                  <div class="main-color">
                    <input type="hidden" id="mainColorValue", name="mainColor" value="#2980b9"/>
                    <div id="mainColor" class="selected-color">
                    </div>
                    <div class="color-picker">
                    </div>
                  </div>
                </div>
                <div class="pure-u-1-3">
                  <label>Secondary color</label>
                  <div class="secondary-color">
                    <input type="hidden" id="secondaryColorValue" name="secondaryColor" value="#2C3E50"/>
                    <div id="secondaryColor" class="selected-color">
                    </div>
                    <div class="color-picker">
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="pure-control-group field">
                <label>Logo</label>

                <label class="file-container pure-button">
                  <span id="uploadPrompt">Select file</span>	
                  <div id="selectedFile" style="display:none;">
                    <span id="filename"></span>	
                  </div>
                  <input type="file" name="file" id="uploadInput"/>
                </label>
            </div>



            <div class="pure-controls controls">
                <button type="submit" class="pure-button pure-button-primary">Create web wallet</button>
            </div>
        </fieldset>
    </form>
  </div>
</div>
<script src="/javascripts/piklor.js"></script>
<script src="/javascripts/utils.js"></script>
<script>
(function() {
  var colors = ["#1abc9c","#2ecc71","#3498db","#9b59b6","#34495e","#16a085","#27ae60","#2980b9",
        "#8e44ad","#2c3e50","#f1c40f","#e67e22","#e74c3c","#f39c12","#d35400","#c0392b","#2C3E50"],
      darkColors = ['#443161', '#3B3162', '#313C61', '#314D5E', '#304544', '#304939',
                    '#475130', '#3E3E30', '#3E3730', '#3E3430', '#3B3036', '#383039',
                    '#353139', '#31313A', '#303937'],
      walletName = document.getElementById('walletName');
  
  document.getElementById('uploadInput').addEventListener('change', utils.showFile);
  
  var debouncedCall = utils.debounce(function(val) {
      utils.get('/api/name?walletName=' + encodeURIComponent(val), function(err, data) {
          if (err) {
            console.error(err);
            walletName.setCustomValidity('Cannot verify wallet name');
          } else {
            walletName.setCustomValidity(data);
          }
      });
  });
  
  walletName.addEventListener('keyup', function(event) {
    debouncedCall(event.target.value);
  }, false);
  
  var mainPk = new Piklor(
    ".main-color .color-picker", colors.concat(darkColors), { open: ".main-color .selected-color" }
  );

  var secondaryPk = new Piklor(
    ".secondary-color .color-picker", darkColors, { open: ".secondary-color .selected-color" }
  );

  mainPk.colorChosen(function (col) {
    document.getElementById('mainColor').style.backgroundColor = col;
    document.getElementById('mainColorValue').value = col;
  });
    
  secondaryPk.colorChosen(function (col) {
    document.getElementById('secondaryColor').style.backgroundColor = col;
    document.getElementById('secondaryColorValue').value = col;
  });
  
  mainPk.set('#2980b9');
  secondaryPk.set('#2C3E50');
  
})();
</script>