<div class="success-box">
  <p>Your request was processed.</p>
  <p>Your wallet will be available shortly at: 
    <a href="{{ link }}" class="wallet-link">{{ link }}</a>
  </p>
  <p>You can later edit your wallet settings using the following login/password:</p>
  <div class="credentials">
    <p><b>Login</b>: {{ login }}</p>
    <p><b>Password</b>: {{ password }}</p>
  </div>
  <p>Please keep these in a safe place.</p>
  <p>Thank you!</p>
</div>